[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi="*"
uvicorn="*"
langchain="*"
langgraph="*"
langchain-community="*"
langchain-core="*"
langchain-ollama="*"
aioredis = "*"
redis = "*"
motor = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.11"
